.slidev-code {
  background: var(--slidev-theme-code-background) !important;
}

.slidev-layout :not(pre) > code {
  background: var(--slidev-theme-inline-code-foreground) !important;
  color: var(--slidev-theme-inline-code-background) !important;
}

.slidev-code {
  padding: var(--slidev-theme-code-padding) !important;
  border-radius: 0 !important;
}
