:root {
  /* default theme */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-bordered: 0;

  --slidev-theme-background: #000;
  --slidev-theme-foreground: #fff;

  --slidev-theme-title-font-weight: 900;

  --slidev-theme-box-background: #fff;
  --slidev-theme-box-foreground: #000;

  --slidev-theme-code-background: #000;
  --slidev-theme-code-padding: 5px;

  --slidev-theme-inline-code-background: #000;
  --slidev-theme-inline-code-foreground: #fff;

  --slidev-theme-primary: #f141a8;
}

.light {
  --slidev-theme-background: #fff;
  --slidev-theme-foreground: #000;

  --slidev-theme-box-background: #000;
  --slidev-theme-box-foreground: #fff;

  --slidev-theme-code-background: #000;

  --slidev-theme-inline-code-background: #fff;
  --slidev-theme-inline-code-foreground: #000;
}

.dark #slide-content,
.slidev-layout {
  background: var(--slidev-theme-background);
  color: var(--slidev-theme-foreground);
}

.slidev-layout {
  h1 {
    @apply p-2 w-auto inline-block;
    background: var(--slidev-theme-box-background);
    color: var(--slidev-theme-box-foreground);
    font-weight: var(--slidev-theme-title-font-weight);

    border: calc(2 * var(--slidev-theme-bordered)) solid
      var(--slidev-theme-background);
    outline: var(--slidev-theme-bordered) solid
      var(--slidev-theme-box-background);
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-5xl w-4/6 p-4 inline-block leading-tight mx-auto;
    background: var(--slidev-theme-box-background);
    color: var(--slidev-theme-box-foreground);
    min-height: 25vh;
  }

  h1 + h2,
  h1 + p {
    @apply text-2xl -mt-2 mb-4 w-4/6 mx-auto;
    color: var(--slidev-theme-box-background);
    padding-left: calc(1rem + (2 * var(--slidev-theme-bordered)));
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-layout.image {
  &.image-top {
    padding-top: 0;

    h1 {
      margin-top: calc(-2 * var(--slidev-theme-bordered));
    }
  }

  &.image-center {
    > div {
      @apply h-full items-center;
    }
  }

  &.image-bottom {
    padding-bottom: 0;

    > div {
      @apply h-full items-end;
    }

    h1 {
      margin-bottom: calc(-2 * var(--slidev-theme-bordered));
    }
  }

  h1 {
    @apply text-5xl mb-0;
  }
}

.slidev-layout.section {
  @apply px-0 w-full flex items-center;

  > div {
    @apply p-8 w-full text-center;
    background: var(--slidev-theme-box-background);
    color: var(--slidev-theme-box-foreground);

    border-bottom: calc(2 * var(--slidev-theme-bordered)) solid
      var(--slidev-theme-background);
    border-top: calc(2 * var(--slidev-theme-bordered)) solid
      var(--slidev-theme-background);
    outline: var(--slidev-theme-bordered) solid
      var(--slidev-theme-box-background);
  }

  h1 {
    @apply text-5xl mb-0;

    border: 0;
    outline: 0;
  }
}

.slidev-layout.section-left,
.slidev-layout.section-right {
  > div {
    color: var(--slidev-theme-box-foreground);
  }

  .box {
    background: var(--slidev-theme-box-background);
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    border: calc(2 * var(--slidev-theme-bordered)) solid
      var(--slidev-theme-background);
    outline: var(--slidev-theme-bordered) solid
      var(--slidev-theme-box-background);
  }

  h1 {
    @apply text-5xl mb-0;

    border: 0;
    outline: 0;
  }
}

.slidev-layout.section-left {
  margin-left: -3.5rem;

  .box {
    border-left: 0;
  }
}

.slidev-layout.section-right {
  margin-right: -3.5rem;

  .box {
    border-right: 0;
  }
}

.slidev-layout.two-columns {
  .col-left > :not(h1),
  .col-right > :not(h1) {
    padding-left: var(--slidev-theme-bordered);
  }
}

.slidev-layout.fact {
  @apply flex justify-center items-center h-full w-full;

  h1 {
    @apply block bg-transparent p-0 m-0 outline-none border-0;
    color: var(--slidev-theme-foreground);
    font-size: 16rem;
    line-height: normal;
  }

  &.inverted {
    background: var(--slidev-theme-foreground);

    h1 {
      color: var(--slidev-theme-background);
    }
  }
}

.slidev-layout.end {
  background: var(--slidev-theme-background) !important;
  color: var(--slidev-theme-foreground) !important;

  h1 {
    @apply text-5xl mb-0;
    background: var(--slidev-theme-background);
    color: var(--slidev-theme-foreground);
  }
}

.about_me {
  h1 {
    @apply text-6xl mb-0;
  }

  h2 {
    @apply text-4xl;
  }

  p {
    margin-bottom: 0;
  }

  .about_me__image {
    height: calc(100% - 1rem);
  }

  .about_me__contents {
    padding-left: var(--slidev-theme-bordered);
  }
}
